body {
  background-image: url("../img/email-pattern.png");
  background-color: white;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
}

/* 
#phase-1 {
    position: relative;
    margin: 10px auto;

} */

/* phase 2 */
#phase-2,
#phase-3-ora,
#phase-3-iya,
#phase-4,
#phase-5 {
  margin: 10px auto;
}

#phase-2 h1,
#phase-5 h1 {
  font-size: 60px;
}

#phase-2 button {
  font-size: 30px;
  border-radius: 14px;
  margin: 10px;
}

.nama-user {
  color: red;
  font-weight: bold;
  font-style: oblique;
}

#text-hasil {
  color: red;
  font-weight: bold;

}

/* phase 3 ora */


#phase-3-ora h1 {
  margin-left: 10px;
  font-size: 60px;
}

#phase-3-ora a {
  font-size: 30px;
  border-radius: 14px;
  margin: 10px;
}

/* margin 3 iya */



#kategori li {
  margin-bottom: 10px;

  background: hsl(0, 2%, 87%);
}

#kategori li:hover {
  background: hsl(216, 90%, 62%);
  cursor: pointer;
}

/* phase 4 */

#phase-4 {
  padding: 100px auto;
}

#ide-terpilih {
  color: red;
}

.kartu {
  background-color: #c1c1c7;
  height: 130px;
  width: 140px;
  display: inline-block;
  padding: 2px 2px;
  cursor: pointer;
  font-size: 17px;
  overflow: auto;
}

.isi {
  margin-top: 15px;
}

.ceklis {

  position: relative;
}

.bg-kartu {
  background-color: #009BFF;
}

/* phase 5 */


#phase-5 a {
  font-size: 30px;
  border-radius: 14px;
  margin: 10px;
}



/* hide */
.hide {
  display: none;
}









/* Styling Checkbox Starts */
.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  margin-top: 7px;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #FFFFFF;
}


.checkbox-label input:checked~.checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #009BFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked~.checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.checkbox-label input:checked~.checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}




/* Style for Circular Checkbox */
.checkbox-label .checkbox-custom.circular {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom.circular {
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom.circular::after {
  border: solid #0067FF;
  border-width: 0 2px 2px 0;
}

.checkbox-label .checkbox-custom.circular::after {
  border-radius: 50%;
}

.checkbox-label .checkbox-custom.circular::before {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom.circular::before {
  border-radius: 50%;
}